:root {
  --text-primary: #212121;
  --bg-primary: white;
  --bg-secondary: lightgray;
  --logo-filter: brightness(1);
  --image-shadow: 0 0 100px rgba(0, 0, 0, 0.24);
}

* {
  margin: 0;
  padding: 0;
}

@keyframes float-down {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fly-logo {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: translate(-50%, 500%);
  }
}

body {
  background-color: var(--bg-primary);
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.fly-in {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  transform: translate(-50%, -50%);
  animation-name: fly-logo;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.5s;
  z-index: 5;
  background-color: var(--bg-primary);
}

.fly-in img {
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fly-logo;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.5s;
  z-index: 6;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: grid;
  width: 100%;
  grid-column-gap: 50px;
  z-index: 3;
  opacity: 0;
  animation-name: float-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
  background-color: var(--bg-primary);
}

.nav-logo {
  position: fixed;
  top: 5vh;
  left: 8vw;
  height: 5vh;
  filter: var(--logo-filter);
  transform: translateY(-70%);
}

.gridbox {
  height: 100%;
}

.icon-moon {
  font-size: 4em !important;
}

.nav-links {
  position: fixed;
  right: 10%;
  top: 5vh;
  transform: translateY(-70%);
}

.nav-links a {
  color: var(--text-primary);
  transition: 0.25s;
  padding-left: 32px;
}

.nav-links a:not(.icon-moon) {
  font-size: 15px;
}

.nav-links a:hover {
  color: #ff3a3a;
  transition: 0.25s;
}

.nav-links a:not(.darkmode-toggle) {
  display: none;
}

.header {
  height: 100vh;
  z-index: 1;
  animation-name: float-down;
  animation-duration: 3.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 2s;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  height: 90vh;
}

.header .container {
  text-align: right;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
}

.header-text {
  text-align: center;
  color: var(--text-primary);
}

.header-text h2 {
  font-size: 7.5em;
  font-weight: 500;
}

.header-text h1 {
  font-size: 7.5em;
  color: #ff3a3a;
}

.header-text p {
  font-size: 2em;
}

.icon-chevrons-down {
  color: var(--text-primary);
  font-size: 4em !important;
  position: relative;
  top: 10vh;
  transition: 0.25s;
}

.icon-chevrons-down:hover {
  color: #ff3a3a;
  transition: 0.25s;
}

.header-image {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  height: 65%;
  box-shadow: var(--image-shadow);
  display: none;
}

.project-list {
  height: 100vh;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.grid-item {
  background-color: transparent;
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

.project-list .container {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
}

.project:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.project {
  transition: 0.3s;
}

.project a {
  color: var(--text-primary);
  color: 0.3s;
}

.project a:hover {
  color: #ff3a3a;
  transition: 0.3s;
}

.project img {
  object-fit: cover;
  height: 25.5vw;
  width: 34vw;
  box-shadow: var(--image-shadow);
}

.project-title {
  font-size: 2.7em;
}

.project-info {
  font-size: 1em;
}

.section-title {
  color: #ff3a3a;
  font-size: 4em;
}

.footer {
  color: var(--text-primary);
  font-size: 12px;
  text-align: center;
  width: 100%;
  background-color: var(--bg-secondary);
  position: absolute;
  top: 300vh;
  left: 0;
}

.footer p {
  padding: 20px;
  font-weight: 500;
}

.about .container {
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
}

.about p {
  font-size: 3em;
  color: var(--text-primary);
}

.about p a {
  color: #ff3a3a;
  text-decoration: var(--bg-primary) underline;
  transition: 0.4s;
}

.about p a:hover {
  text-decoration: #ff3a3a underline;
  transition: 0.4s;
}