* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Antic', sans-serif;
  font-size: 10.5em;
  color: #ffffff;
}

.header {
  background-color: #6da3f9;
  background-image: linear-gradient(to bottom right, #6da3f9, #6df9ba); 
}

h2 {
  font-family: 'Antic', sans-serif;
  font-size: 5em;
  color: #ffffff;
}
