:root {
  --text-primary: #212121;
  --bg-primary: white;
  --bg-secondary: lightgray;
  --logo-filter: brightness(1);
  --image-shadow: 0 0.3em 0.8em rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
  border-radius: 0;
}

* {
  margin: 0;
  padding: 0;
}

@keyframes float-down {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fly-logo {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: translate(-50%, 500%);
  }
}

body {
  background-color: var(--bg-primary);
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.fly-in {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  transform: translate(-50%, -50%);
  animation-name: fly-logo;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.5s;
  z-index: 5;
  background-color: var(--bg-primary);
}

.fly-in img {
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fly-logo;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.5s;
  z-index: 6;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: grid;
  width: 100%;
  grid-column-gap: 50px;
  z-index: 3;
  opacity: 0;
  animation-name: float-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
  background-color: var(--bg-primary);
}

.nav-logo {
  height: 30px;
  padding-top: 16px;
  padding-left: 10%;
  padding-bottom: 20px;
  filter: var(--logo-filter);
}

.gridbox {
  height: 100%;
}

.icon-moon {
  font-size: 22px !important;
}

.nav-links {
  position: fixed;
  right: 10%;
  top: 15px;
}

.nav-links a {
  color: var(--text-primary);
  transition: 0.25s;
  padding-left: 32px;
}

.nav-links a:not(.icon-moon) {
  font-size: 15px;
}

.nav-links a:hover {
  color: #ff3a3a;
  transition: 0.25s;
}

.content {
  display: grid;
  grid-template-rows: 100vh auto auto;
  grid-template-columns: auto;
}

.header {
  height: 100%;
  z-index: 1;
  animation-name: float-down;
  animation-duration: 3.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 2s;
  grid-row: 1;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  height: 90vh;
}

.header .container {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
}

.header-text {
  text-align: left;
  color: var(--text-primary);
}

.header-text h2 {
  font-size: 4.5em;
  font-weight: 500;
}

.header-text h1 {
  font-size: 4.5em;
  color: #ff3a3a;
}

.header .container {
  position: relative;
}

.icon-chevrons-down {
  color: var(--text-primary);
  font-size: 40px !important;
  position: relative;
  top: 10vh;
  transition: 0.25s;
}

.icon-chevrons-down:hover {
  color: #ff3a3a;
  transition: 0.25s;
}

.header-image {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  height: 65%;
  box-shadow: var(--image-shadow);
}

.project-list {
  grid-row: 2;
  height: 100%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.grid-item {
  background-color: transparent;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.project-list .container {
  padding-top: 85px;
  height: min-content;
}

.project:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.project {
  transition: 0.3s;
}

.project a {
  color: var(--text-primary);
  color: 0.3s;
}

.project a:hover {
  color: #ff3a3a;
  transition: 0.3s;
}

.project img {
  object-fit: cover;
  height: 150px;
  width: 200px;
  box-shadow: var(--image-shadow);
}

.project-title {
  font-size: 22px;
}

.project-info {
  font-size: 14px;
}

.section-title {
  color: #ff3a3a;
  font-size: 4em;
}

.footer {
  color: var(--text-primary);
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: 10%;
  background-color: var(--bg-primary);
  transition: 0.2s;
}

.footer:hover {
  background-color: var(--bg-secondary);
  transition: 0.4s;
}

.footer p {
  padding: 20px;
  font-weight: 500;
}

.footer p i {
  padding-left: 20px;
  padding-right: 20px;
}

.about .container {
  padding-top: 10%;
  height: min-content;
}

.about p {
  font-size: 1.4em;
  color: var(--text-primary);
}

.about p a {
  color: #ff3a3a;
  text-decoration: var(--bg-primary) underline;
  transition: 0.4s;
}

.about p a:hover {
  text-decoration: #ff3a3a underline;
  transition: 0.4s;
}

.footer p a {
  color: var(--text-primary);
  text-decoration: none;
  transition: 0.1s;
}

.footer p a:hover {
  color: #FF3A3A;
  transition: 0.1s;
}

.scratch {
  padding-left: 10px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: 0.1s;
}

.scratch:hover {
  filter: contrast(0) grayscale(100%) sepia(100%) hue-rotate(250deg);
  -webkit-filter: grayscale(100%) sepia(100%) hue-rotate(250deg);
  transition: 0.1s;
}

.mobile-shown {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .nav-links a:not(.darkmode-toggle) {
    display: none;
  }

  .header-image {
    display: none;
  }

  .header, .container, .header-text {
    text-align: center;
  }

  .container {
    padding: 0;
  }

  .header {
    width: 100%;
  }

  .section-title {
    font-size: 2em;
  }

  .project img {
    width: 65vw;
  }

  .project-list {
    height: max-content;
  }

  .about {
    position: initial;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .grid-item {
    text-align: center !important;
  }

  .about .container {
    padding: 80px 10%;
    height: min-content;
  }

  .about p {
    font-size: 1.2em;
  }

  .mobile-hidden {
    display: none;
  }

  .mobile-shown {
    display: initial;
  }

  .footer p {
    overflow-x: scroll;
    white-space: nowrap;
  }
}

#bmc-wbtn {
  transform: translateX(130%);
  animation-name: left-in;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes left-in {
  to {
    transform: translateX(0);
  }
}