* {
  margin: 0;
  padding: 0;
  cursor: none;
}

svg {
  height: 1.25rem;
}

:root {
  --bg-primary: #ffffff;
  --text-primary: #222;
  --text-secondary: #8a8a8a;
  --accent: #ff3a3a;
  --animation-initial: rotateX(50deg);
  --animation: dropIn 0.7s cubic-bezier(.04,.33,.1,1) forwards;
  --cursor-color: #00c5c5;
}

:root.dark {
  --bg-primary: #1f1f1f;
  --text-primary: #ffffff;
  --text-secondary: #8a8a8a;
  --accent: #ff3a3a;
  --cursor-color: #ff5c5c;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: rotateX(50deg) translateZ(-2rem);
  }
  100% {
    opacity: 1;
    transform: rotateX(0) translateY(0) translateZ(0);
  }
}

body:before {
  content: "";
  position: fixed;
  z-index: 999;
  top: var(--y);
  left: var(--x);
  right: 0;
  bottom: 0; 
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: var(--transform);
  background: var(--cursor-color);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform 0.2s ease-out;
}

::-moz-selection {
  background: var(--accent);
  color: var(--bg-primary);
}

::selection {
  background: var(--accent);
  color: var(--bg-primary);
}

::-webkit-scrollbar {
  width: 0.7em;
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border: 0.2em solid var(--bg-primary);
  border-radius: 1em;
}