* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #121212;
}

h1 {
  font-family: 'Solway', sans-serif;
  font-size: 4em;
  color: #ffffff;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
}

.headerBackground {
  background-image: url(images/712C832B-DED7-4A5D-A066-6D97AAF45719.jpeg);
  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 325px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

p {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
}
