* {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

@media (screen and max-width: 600px) {
  .z-depth-2 {
    width: 600px;
  }
}
@media (screen and min-width: 601px) {
  
h1 {
  font-family: 'Roboto Mono', sans-serif;
}

h2 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1em;
  margin-top: 0;
  padding-top: 0;
}

.z-depth-2 {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 2px;
}

.pfp {
  border-style: solid;
  border-color: white;
  border-radius: 2.75px;
  border-width: 2.5px;
  box-shadow: #012535 0px 0px 12px;
}

.username {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}


}
